<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/pdf.css" rel="stylesheet">

    <link href="css/ss-standard.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="certificate-wrapper">
    <div class="row-fluid">

        <div class="certificates_header clearfix">
            <div class="brand-title">
                <div class="title">KPI ranking pdf</div>
            </div>
            <div class="brand-logo-2"><img src="images/pioneer_logo.png"></div>
        </div>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_main_title_row">
                <thead>
                <tr>
                    <th class="branding-colours" colspan="4">Lorem ipsum dolor sit amet</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="vessel_name_1"><strong>Vessel name</strong></td>
                    <td class="vessel_name_2">Azure bay</td>
                    <td class="vessel_name_3"><strong>Tech manager</strong></td>
                    <td class="vessel_name_4">V-ships</td>
                </tr>
                <tr>
                    <td><strong>Year</strong></td>
                    <td>2016</td>
                    <td><strong>Age of vessel</strong></td>
                    <td>10</td>
                </tr>
                </tbody>
            </table>
            <table class="responsive-table certificates-table kpi_ranking_12_month_pdf_row">
                <thead>
                <tr>
                    <th class="branding-colours kpi_name kpi_name_thtd">Keep Performance Index</th>
                    <th class="branding-colours weightage">Weightage</th>
                    <th class="branding-colours month">Jan</th>
                    <th class="branding-colours month">Feb</th>
                    <th class="branding-colours month">Mar</th>
                    <th class="branding-colours month">Apr</th>
                    <th class="branding-colours month">May</th>
                    <th class="branding-colours month">Jun</th>
                    <th class="branding-colours month">Jul</th>
                    <th class="branding-colours month">Aug</th>
                    <th class="branding-colours month">Sep</th>
                    <th class="branding-colours month">Oct</th>
                    <th class="branding-colours month">Nov</th>
                    <th class="branding-colours month">Dec</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td>Vessel performance</td>
                    <td>10%</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                    <td>3.5</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                    <td><strong>10</strong></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">Graph colour</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="images/graph_colour.jpg"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="data-row-section top-margin-space">
            <table class="responsive-table certificates-table">
                <thead>
                <tr>
                    <th class="branding-colours thead-title-two-row no-td-right-border">Send comment</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in pharetra nisi. Nullam eleifend aliquam leo eu volutpat. Sed ac cursus ligula, nec scelerisque nibh. Suspendisse porttitor eget justo non bibendum. Integer pharetra tempor nisl id convallis. In ut magna pretium, sodales sapien eu, commodo lacus. Morbi eu dolor nunc. Sed tristique ligula ac quam eleifend sollicitudin. Praesent consequat ante sit amet lacus vestibulum gravida. Maecenas cursus erat sit amet consectetur eleifend. Sed id vestibulum sapien. Donec facilisis est ut tellus porttitor consequat. Aliquam erat volutpat. </td>
                </tr>
                </tbody>
            </table>
        </section>

    </div>
</div>
</body>
</html>