{% extends 'base.html.twig' %}
{% block body %}

    {% block javascripts %}

        {% javascripts '@InitialShippingBundle/Resources/public/js/aa_jquery-1.8.0.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {#{% javascripts '@InitialShippingBundle/Resources/public/js/emailgroup.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}#}



    {% endblock %}

    <section >
        <div class="col-sm-12">
            <div class="verfication_ranking_form_screen no_user_selected_views">
                <div  class="text_image">
                    <img src="/images/under-construction.png">

                </div>
            </div>
        </div>
    </section>


{% endblock %}