#readingkpitable
{
    text-align: center ;
}
.notice
{
    text-align: center;
    color: red;
}
#linkid
{

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:link {
    color: red;
}
a:visited {
    color: #d2373b;
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
body
{
    background-color: #EEE;
}
td {width: 200px;}
h1{text-align: center;}
#shipid,#elementId,#kpiid,#month,#valueid
{
    width:178px;
    height: 25px;
}
#submitid
{
    width:178px;
    height: 25px;
    background-color: #0000F0;
    color: white;
}
.required
{
    margin-right: 20px;
}
#addsubmitid,#readingid,#_submit
{
    width:130px;
    height: 25px;
    background-color: #0000F0;
    color: white;
    margin-top: 16px;
    margin-bottom: 6px;

}
#showtable
{
text-align: center;
    border: dashed;
}
.listitem
{
    line-height: 163%;
    text-align: center;
}
#elementDetailsId
{
    width:130px;

}
.inputclass
{
    width:178px;
    height: 25px;
}

[for="fos_user_registration_form_roles_0"] { display: none;}

.modal
{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
.center
{
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
.center img
{
    height: 128px;
    width: 128px;
}