{% extends 'base.html.twig' %}

{% block body %}
 {% block javascripts %}

        {% javascripts
        '@AppBundle/Resources/public/js/AAA.js'
        '@AppBundle/Resources/public/js/demo.js'
        '@AppBundle/Resources/public/js/actions-builder.js'
        '@AppBundle/Resources/public/js/Element_conditions-builder.js'
        '@AppBundle/Resources/public/js/sample.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        var archiveAjaxStatus = 0;
        var reportTableBodyId = $('#report-table-body-id');



        function setReportTableContentsFunction(data) {
            if(data.length != 0) {
                console.log(data)
                $.each(data.archivedReports, function(i) {
                    reportTableBodyId.append('<tr id="table-row-id'+i+'"></tr>');
                    var tableRowId = $('#table-row-id'+i+'');
                    var period = new Date(data.archivedReports[i].dateTime.date);
                    var pathInTwigFormat = "{{ path('database_export', { 'id': 'value'}) }}";

                    var pathName = pathInTwigFormat.replace("value",data.archivedReports[i].id);

                    tableRowId.append(' <td>'+data.archivedReports[i].username+'</td> <td>shipping_development.sql</td> <td>'+period.getDate()+'-'+period.getMonthName()+'-'+period.getFullYear()+'</td> <td style="text-align: center"><a href="'+pathName+'"><img style="width: 29px; height: 24px" src="/images/download 1.jpg"  alt="Loader Image" /></a></td>');
                });
            }
        }



        var archiveReportView = $('#archived-report-view');
        var archiveButtonId = $('#archive-btn-id');
        archiveReportView.hide();
        archiveButtonId.click(function($e) {
            $e.preventDefault();
            if(archiveAjaxStatus == 1) {
                archiveReportView.toggle();
            } else if(archiveAjaxStatus == 0) {
                var data = {status:1};
                $.ajaxSetup({
                    global: false,
                    type: "post",
                    url: "archived_report_view",
                    beforeSend: function () {
                        var setAjaxBeforeSend = ajaxbefore_send();
                    },
                    complete: function () {
                        var setAjaxComplete = ajax_complete();
                    }
                });
                $.ajax({
                    data: data,
                    success: function (data) {
                        reportTableBodyId.empty();
                        var setReportTableContents = setReportTableContentsFunction(data);
                        archiveReportView.toggle();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error : ' + errorThrown);
                    }
                });
            }
        });



        {# var back_up = $('#backup-submit-id');

        back_up.live("click", function ($e) {
            $e.preventDefault();

            $.ajaxSetup({
                global: false,
                type:"POST",
                url:"db_export",

                beforeSend: function () {
                    var setAjaxBeforeSend = ajaxbefore_send();
                },
                complete: function () {
                    var setAjaxComplete = ajax_complete();
                }
            });
            $.ajax({
                success: function(data) {

                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error : ' + errorThrown);
                }
            });
        });#}
            })
         </script>




    <section class="scorecard_report">
        <div class="col-sm-12">
            <div class="add_kpi_views_screen">
                <form class="form-horizontal no-style create-form" method="post">
                    <div class="scorecard_report_inner">
                        <fieldset class="fieldset_box add_rule_form">
                            <legend class="legend_name">Backup</legend>
                            <div class="form-group">



                                </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Save Files</label>
                                <div class="col-xs-8" >
                                    <input type="checkbox" class="scorecard_checkbox" name="checked">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">&nbsp;</label>
                                <div class="col-xs-8 ">
                                    <button class="submit_btn" style="margin-bottom: 10px;background-color:#103a71;color:#FFFFFF"> <a href="{{ path('import_db') }}"  target style="color:white">Download</a></button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="ranking_report">

                    </div>
                </form>
            </div>
        </div>
    </section>



    <button class="submit_btn" id="archive-btn-id" style="margin-bottom: 10px;">Backup Files</button>


    <section id="archived-report-view">
        <div class="table-responsive">
            <table class="table table-striped table_dividere data_import_list_table">
                <thead>
                <tr>
                    <th class="filename">username</th>
                    <th class="filenames">Filename</th>
                    <th class="option">Backup Date</th>
                    <th class="option">Options</th>

                </tr>

                </thead>
                <tbody id="report-table-body-id">
  </thead>
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}
